### Java ###
*.class
*.log
*.ctxt
hs_err_pid*
replay_pid*
*.hprof

### Gradle ###
.gradle/
build/
**/build/

### IntelliJ IDEA ###
.idea/
!.idea/codeStyles/
*.iml
*.iws
*.ipr
out/
**/out/

# Dodatkowe lokalne pliki IDEA
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/shelf/
.idea/**/caches/
.idea/**/httpRequests/

### Eclipse ###
.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache
bin/
**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VSCode ###
.vscode/

### OS files ###
.DS_Store
Thumbs.db

### Kotlin ###
.kotlin
